<% if (user) { %>
    Hi! <%= user.email%>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
<% } else { %>
    <a href="/login"> Login</a> or
    <a href="/register">Register</a>
<% } %>