<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <h1>URL:</h1> <br/>
  http://www.lighthouselabs.ca <br/>
  <h1>Shortened form:</h1><br/>
  b2xVn2
</body>
</html>